.layout {
  position: relative;
  padding: 6rem 1rem;
  min-width: 320px;
  z-index: 1;

  & > .container {
    position: relative;
    padding: 1rem 0 0;

    @include themefy($themes) {
      background-color: themed('container-background-color');
    }

    .section {
      position: relative;
    }
  }

  @media (max-width: 900px) {
    padding: 0rem 1rem;
  }
}
