.lorem-ipsum-generator {
  position: relative;

  &-settings {
    margin-bottom: 2rem;
    border-style: double;
    border-width: 3px;
    text-align: center;
  }

  @media all and (max-width: 800px) {
    &-settings {
      text-align: left;
    }
   .field-inline {
     display: block;
     margin-bottom: 1rem;
     margin-right: 0;
   }
  }
}
