.section {
  position: relative;

  .go-back {
    display: block;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-top: -2.5rem;
    margin-bottom: 0.5rem;
    text-decoration: none;
    width: 3rem;
  }
}
