fieldset {
  padding: 1rem;
}

label {
  display: inline-block;
}

.button {
  padding: 0.125rem 0.5rem;
  border: 1px solid;

  @include themefy($themes) {
    background-color: themed('base-background-color');
    border-color: themed('base-font-color');
    color: themed('base-font-color');
  }

  border-radius: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;

  &:hover {
    @include themefy($themes) {
      background-color: themed('base-font-color');
      color: themed('base-background-color');
    }
  }

  &:disabled {
    opacity: 0.8;
    pointer-events: none;
    cursor: not-allowed;

    @include themefy($themes) {
    }
  }
}

.form-control {
  border: 1px solid;
  border-radius: 0;
  padding: 0.125rem 0.5rem;

  @include themefy($themes) {
    background-color: themed('input-background-color');
    border-color: themed('input-border-color');
    color: themed('base-font-color');
  }
}

.field-inline {
  display: inline-block;
  vertical-align: top;
  margin-right: 1rem;
}

.block-control {
  display: block;
  width: 100%;
}
