.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-left {
  text-align: left !important;
}

.text-error {
  color: $color-error !important;
}

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}
