.container {
  position: relative;
  background-color: #3f37c9;
  background-image: linear-gradient(314deg,#560bad,#3f37c9);
  background-size: 480% 480%;
  width: 100%;
  height: 100%;
  padding: 1rem;
  overflow: hidden;
  animation: bg-animation 60s ease infinite alternate;
}

.content {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  gap: 1rem;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  user-select: none;
  pointer-events: none;
}

@keyframes bg-animation {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}
